#heading{
			      font-size:35px;
				  height:50px;
			      width:1100px;
				  margin:0px auto 100px auto;
				  font-family:Helvetica;
				  color:#4F81BD;
			   }
			   #time{
			         font-size:20px;
					 font-weight:bold;
					 color:green;
					 }
			   #test{
			         font-weight:bold;
					 font-size:50px;
					 color:grey;
			   }	 
	           #shape{
			          background-color:red;
					  width:50px;
					  height:50px;
					  position:relative;
					  display:none;
					  border-radius:50%;
					  } 
				#startTest{
	                  width:110px;
                      height:50px;	
                      font-size:30px;         				  
				          }
                #timeTaken{
				      position:relative;
					  color:red;
					  font-weight:bold;
				          }	
                #stop{
				       position:relative;
				       display:none;    
                       font-size:20px;
					   font-weight:bold;
					   color:grey;				   
				}	
                #stopTest{
		               size:15px;		
   				 }			